/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ===== Colors ===== */
  --sidebar-clr: #343a40;
  --primary-clr: #695cfe;
  --primary-clr-hover: #4a3bf0;
  --white-clr: #fff;
}

/* ====== Css reset ====== */

html,
body {
  overflow-x: hidden;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%; /* font-size: 10px; */
  scroll-behavior: smooth;
}

img {
  width: 100%;
  max-width: 100%;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sidebar-clr);
  column-gap: 3rem;
}

.form {
  position: absolute;
  max-width: 430px;
  width: 95%;
  padding: 2rem 1rem;
  border-radius: 5px;
  background: var(--white-clr);
}

.form .img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1rem;
}

.form img {
  width: 10rem;
  border-radius: 5px;
}

header {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--sidebar-clr);
  text-align: center;
}

form {
  margin-top: 3rem;
}

.form .column {
  position: relative;
  height: 5rem;
  width: 100%;
  margin-top: 2rem;
  border-radius: 5px;
}

.column input,
.column button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1.7rem;
  font-weight: 400;
  border-radius: 5px;
}

.column input {
  outline: none;
  padding: 0 1.5rem;
  border: 1px solid #cacaca;
}

.column input:focus {
  outline: none;
  border: 1px solid;
  border-color: var(--primary-clr);
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 1.7rem;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}

.column button {
  font-size: 1.7rem;
  color: var(--white-clr);
  background-color: var(--primary-clr);
  transition: all 0.3s ease;
  cursor: pointer;
}

.column button:hover {
  background-color: var(--primary-clr-hover);
}

.form-link {
  text-align: center;
}

.form a {
  color: var(--primary-clr);
  font-size: 1.6rem;
  text-decoration: none;
}

.form-content a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .form {
    width: 100%;
    padding: 3rem;
  }
}
